cassandra-driver==3.4.1
cffi==1.6.0
cryptography==1.4
Django==2.2.24
django-bootstrap3==7.0.1
enum34==1.1.6
flake8==2.5.4
futures==3.0.5
gunicorn==19.6.0
idna==2.1
ipaddress==1.0.16
mccabe==0.4.0
ndg-httpsclient==0.4.0
pep8==1.7.0
pyasn1==0.1.9
pycparser==2.14
pyflakes==1.0.0
pyOpenSSL==16.0.0
redis==2.10.5
six==1.10.0
