{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example of Twitter Typeahead</title>

</head>
<body>
  <a href="/carrinho/">Mostrar carrinho</a>
  <br>
<table>
  <tr>
    <td>Produto</td>
    <td>Preço</td>
    <td></td>
  </tr>

  {% for item in produtos %}
  <tr>
  <td>{{ item.nome }}</td><td><td>R${{item.preco|floatformat:"2"}}</td><td><td><a href="/addcarrinho/{{item.nome}}/">Adicionar ao carrinho</a>
  </tr>
  {% endfor %}
</table>
</body>
</html>
