{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Loja</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}" />

</head>

<body>

<div id="page">

    <h1>Procurar Produto</h1>

    <form id="searchForm" method="post">
		<fieldset>

           	<input id="autocomplete" name="autocomplete" type="text" />

            <input type="submit" value="Submit" id="submitButton" />

			</div>

    </form>

</div>

{%for row in rows%}
  <br>{{row.descricao}} - R${{row.preco|floatformat:"-2"}}
{%endfor%}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{%static 'js/jquery.autocomplete.js'}"></script>
<script>
$('#autocomplete').autocomplete({
    serviceUrl: 'listarprodutos',
    onSelect: function (suggestion) {
        alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
    }
});
</script>
</body>
</html>
