{% load staticfiles %}<!--{% load staticfiles %}<!DOCTYPE html>-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Carrinho de compras</title>

		<link rel="stylesheet" type="text/css" href="{% static 'Semantic/semantic.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'Semantic/semantic.min.css' %}">
		<link rel="stylesheet" type="text/js" href="{% static 'Semantic/semantic.js' %}">
		<link rel="stylesheet" type="text/js" href="{% static 'Semantic/semantic.min.js' %}">

	</head>
	<style type="text/css">
		a:link{
			text-decoration: none;
			color: black;
		}

	</style>
	<body>
		<div class="ui secondary  menu">
			<a href="/" class="item" style="margin-left: 20px"><i class="large add to cart icon"></i>Continuar comprando</a>
			<a href="/limpar_carrinho/" class="item"><i class="large remove circle icon"></i>Limpar Carrinho</a>
		</div>
		<div class="ui segment">
			<table class="ui celled table">
				<thead>
				   <tr>
						<th>Código</th>
						<th>Produto</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<!--{% for item in carrinho %}-->
					<div class="ui buttons">
						<tr>
							<td>{{ item.codigo }}</td>
							<td>{{ item.nome }}</td>
							<td>{{item.preco|floatformat:"2"}}</td>
						</tr>
					</div>
					<!--{% endfor %}-->
				</tbody>
			</table>
		</div>
		<div class="ui labeled button" tabindex="0">
			<div class="ui black button" style="margin-left: 20px"><i class="calculator icon"></i>Total da compra</div>
				<a class="ui basic black left pointing label">{{ totalcompra }}</a>
		</div>
      <div class="ui form">
        <form method="post" action="/finalizar/">
        {% csrf_token %}
        <div class="field">
          <label>CPF:</label>
          <input type="text" name="cpf" value="cpf">
        </div>
        <button type="submit" class="ui submit button">Enviar</button>
        </form>
      </div>

	</body>
</html>
